@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/fonts/AtkinsonHyperlegibleNextVF-Variable.ttf') format('ttf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
