---
import Image from 'astro/components/Image.astro'
import profileImage from '../assets/profile.png'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Jacob Godwin - Web Developer'>
  <main class='flex gap-4 items-center justify-center'>
    <div>
      Hi, my name is Jacob Godwin! I'm a web developer based in Gainesville, FL.<br
      /><br />
      I currently <a class='underline hover:text-[#ccd5ae]' href='work'>work</a>
      at the University of Florida, where I'm focused on developing useful, user-centered
      web and mobile applications for students, faculty, and staff.
    </div>
    <Image
      src={profileImage}
      alt='profile picture'
      width={200}
      height={200}
      widths={[150, 200]}
      sizes={`(max-width: 720px) 150px`}
      class='rounded-full'
    />
  </main>
</BaseLayout>
