---
import { Image } from 'astro:assets'
import profileImage from '../assets/profile.png'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Jacob Godwin - Web Developer'>
  <main
    class='flex gap-10 items-start justify-center max-sm:flex-col max-sm:items-center'
  >
    <Image
      src={profileImage}
      alt='profile picture'
      width={150}
      height={150}
      widths={[100, 720]}
      sizes={`(max-width: 720px) 100px, (max-width: 1600px) 720px`}
      class='rounded-full'
    />
    <p>
      Hi, my name is Jacob Godwin! I'm a web developer based in Gainesville, FL.<br
      /><br />
      I currently <a
        aria-label='Link to resume page'
        class='underline underline-offset-4 hover:text-[#ccd5ae]'
        href='/work'>work</a
      >
      at the University of Florida, where I'm focused on developing useful, user-centered
      web and mobile applications for students, faculty, and staff.<br /><br />

      When I'm not working, there's a good chance you can catch me reading a
      <a
        aria-label='External link to Goodreads profile'
        class='underline underline-offset-4 hover:text-[#ccd5ae]'
        href='https://www.goodreads.com/user/show/14930230-jacob-godwin'
        target='_blank'>book</a
      > with a freshly brewed cup of <a
        aria-label='Link to brews page'
        class='underline underline-offset-4 hover:text-[#ccd5ae]'
        href='/brews'>coffee</a
      > in hand.<br /><br />
      If you'd like to link-up, feel free to <a
        aria-label='External link to LinkedIn profile'
        class='underline underline-offset-4 hover:text-[#ccd5ae]'
        href='https://www.linkedin.com/in/jacobpgodwin/'
        target='_blank'>reach out!</a
      >
    </p>
  </main>
</BaseLayout>
