---
const currentDate = new Date().getFullYear()
---

<footer class='col-span-4'>
  <ul class='flex items-center gap-6 py-10'>
    <li>
      <a
        class='underline underline-offset-8 hover:text-[#ccd5ae]'
        href='https://github.com/jacobgodwin'>GitHub</a
      >
    </li>
    <li>
      <a
        class='underline underline-offset-8 hover:text-[#ccd5ae]'
        href='https://www.linkedin.com/in/jacobpgodwin/'>LinkedIn</a
      >
    </li>
    <li>
      <a
        class='underline underline-offset-8 hover:text-[#ccd5ae]'
        href='https://bsky.app/profile/jacobgodwin.dev'>Bluesky</a
      >
    </li>
    <li>
      <a
        class='underline underline-offset-8 hover:text-[#ccd5ae]'
        href='https://www.instagram.com/jacobgodwin04/'>Instagram</a
      >
    </li>
    <li class='whitespace-nowrap ml-auto'>
      &#169; <a
        class='underline underline-offset-8 hover:text-[#ccd5ae]'
        href='work'>Jacob Godwin</a
      >&nbsp;{currentDate}
    </li>
  </ul>
</footer>
