---
const links = ['Home', 'Work', 'Brews']
---

<header class='col-span-4 flex justify-start items-center py-4'>
  <nav>
    <ol class='flex gap-8'>
      {
        links.map((link) => (
          <li>
            <a href={link === 'Home' ? '/' : link.toLowerCase()}>{link}</a>
          </li>
        ))
      }
    </ol>
  </nav>
</header>
