---
import { getCollection } from 'astro:content'
import Coffee from 'phosphor-astro/CoffeeLight.astro'

import Brew from './Brew.astro'

const brews = await getCollection('brews')
---

<aside class='flex flex-col justify-start items-center min-w-[15%]'>
  <a href='brews' class='flex flex-col items-center justify-center gap-4'>
    <Coffee height={34} width={34} />
    {
      brews.slice(0, 1).map((brew) => {
        return (
          <Brew
            date={brew.data.date}
            time={brew.data.time}
            beans={brew.data.beans}
            roaster={brew.data.roaster}
            styles='text-sm gap-1 items-center'
          />
        )
      })
    }
  </a>
</aside>
