---
import Nav from '../components/Nav.astro'

const { title = 'Jacob Godwin - Web Developer' } = Astro.props
---

<!doctype html>
<html lang='en' class='font-prime bg-[#1c1c1c] text-white'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='w-full flex flex-col justify-center items-center p-6'>
    <Nav />
    <slot />
  </body>
</html>
