---
import Nav from '../components/Nav.astro'
import { ClientRouter } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import '@fontsource/atkinson-hyperlegible'
import Analytics from '@vercel/analytics/astro'
interface Props {
  title: string
  description?: string
}

const {
  title,
  description = 'Pesonal portfolio website for Jacob Godwin, a web developer',
} = Astro.props
---

<!doctype html>
<html lang='en' class='font-prime bg-neutral-900 text-white'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <Analytics />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class='flex flex-col items-center min-h-screen p-10 font-atkinson'>
    <Nav />
    <main
      class='flex justify-between flex-grow lg:max-w-[70%] max-lg:max-w-[100%]'
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
