---
import Nav from '../components/Nav.astro'
import { ClientRouter } from 'astro:transitions'
import Sidebar from '../components/Sidebar.astro'
interface Props {
  title: string
  description?: string
}

const {
  title,
  description = 'Pesonal portfolio website for Jacob Godwin, a web developer',
} = Astro.props
---

<!doctype html>
<html lang='en' class='font-prime bg-[#1c1c1c] text-white'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class='min-h-screen grid grid-cols-4 grid-rows-[auto_1fr_auto]'>
    <Nav />
    <main class='col-span-3'>
      <div>
        <slot />
      </div>
    </main>
    <Sidebar />
  </body>
</html>
